/* 
position 
    1.relative 
    2.absolute
    3.fixed

display
    1.block
    2.inline
    3.inlineblock
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  position: relative;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.my-nav-link{
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color:#fff;
}

.my-nav-link.active{
    color:#f9004d !important;
    padding-bottom: 20px;
    border-bottom: 2px solid #f9004d;
}
.my-nav-link:hover{
  color:#f9004d !important;
}